<!DOCTYPE html>  
<html>  
<head>  
    <title>Add Employee</title>  
</head>  
<body>  
    <h2>Employee Information</h2>   
    <form action ="/submit" method="post">  
    <table>  
        <tr><td>Id</td><td><input type="text" name="Id"></td></tr>  
        <tr><td>Name</td><td><input type="text" name="name"></td></tr>  
        <tr><td>Address</td><td><input type="text" name="address"></td></tr>  
        <tr><td><input type="submit" value="submit"></td></tr>  
    </table>  
    </form>  
</body>  
</html>  