<!DOCTYPE html>
<html>
<head>
    <title>Session Login</title>
</head>
<body>
    <h1>Session Login</h1>
    <form method="post" action="/submit">
        <label for="user_input">Enter your user name:</label>
        <input type="text" name="user_input" id="user_input" required>
        <br><br>
        <label for="password">Enter your password:</label>
        <input type="password" name="password" id="password" size="6" required>
        <br><br>
        <input type="submit" value="submit">
    </form>
</body>
</html>
